# Machine-local files
.github/vscode-version.txt

# 一時ファイル・出力ファイル
*.ics
# *.json
login_failed.html

# Pythonキャッシュ
__pycache__/
*.pyc

# 環境変数ファイル（必要なら）
.env

# YouTube API認証情報
tools/youtube_client_secret.json
tools/token.json
tools/bgm_data.json

*.txt
!tools/requirements.txt
*.docx
*.png
!docs/page_url.png
!docs/icons/icon-192.png
!docs/icons/icon-512.png

# Tools - 一時的なドキュメント置き場
tools/documents/